.container {
    width: 250px;
    height: 570px;
    overflow: hidden;
    background: grey;
    margin: 0px 5px 10px 5px;
    cursor: pointer;
    &:hover {
        transform: scale(1.15);
        transition: all 0.3s;
    }
}

